#Gradle template
.gradle
build/
out/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.idea
*.iml
local.properties

# Jenv
.version
.java-version

# Mac
.DS_Store

#Elasticsearch docker data
elasticsearch-data

#Postgres docker data
postgres-data